:root {
  --primary-orange: hsl(25, 97%, 53%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-grey: hsl(217, 12%, 63%);
  --neutral-medium-grey: hsl(216, 12%, 54%);
  --neutral-dark-blue: hsl(213, 19%, 18%);
  --neutral-very-dark-blue: hsl(216, 12%, 8%);
  --neutral-light-black: hsl(213, 19%, 14%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--neutral-very-dark-blue);

  font-family: "Overpass", sans-serif;
  font-size: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden auto;
}

.rating {
  max-width: 400px;
  padding: 2em;
  margin: 2em;
  border-radius: 20px;
  background-color: var(--neutral-dark-blue);
  color: var(--neutral-light-grey);
  font-weight: 400;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5em;
}

.rating--center {
  align-items: center;
}

.rating--disable {
  display: none;
}

.picture {
  width: 50px;
  height: 50px;
  /* margin-bottom: var(--margin-bottom); */
  padding: 1em;
  border-radius: 50%;
  background-color: var(--neutral-light-black);

  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.picture__circle {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.rating__title {
  /* margin-bottom: var(--margin-bottom); */
  color: var(--neutral-white);
  font-weight: 700;
}

.rating__paragraph {
  /* margin-bottom: var(--margin-bottom); */
  line-height: 1.8;
}

.rating__paragraph--center {
  text-align: center;
}

.options {
  width: 100%;
  border: none;

  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all;
}

.options__option {
  position: relative;
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.options__input {
  appearance: none;
  width: inherit;
  height: inherit;

  border-radius: 50%;
  background-color: var(--neutral-light-black);
  transition: 0.2s all;
  cursor: pointer;
}

.options__input:hover {
  background-color: var(--neutral-medium-grey);
}

.options__input:checked {
  background-color: var(--primary-orange);
}

.options__value {
  position: absolute;
  z-index: 1;
  color: var(--neutral-white);
  text-align: center;
  cursor: pointer;
}

.rating__button {
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 20px;
  background-color: var(--primary-orange);
  color: var(--neutral-white);
  cursor: pointer;

  text-transform: uppercase;
  font-family: inherit;
  font-weight: 700;
  letter-spacing: 2px;
}

.rating__button:hover {
  transition: 0.2s;
  background-color: var(--neutral-white);
  color: var(--primary-orange);
}

.rating__choice {
  padding: 0.5em 2em;
  border-radius: 40px;
  background-color: var(--neutral-light-black);
  color: var(--primary-orange);
  text-align: center;
}

.footer {
  margin: 1em 0;
  color: var(--neutral-white);
  text-align: center;
  font-size: 0.8em;
}

.footer__link {
  color: var(--primary-orange);
}
